# 忽略 Python 缓存文件
__pycache__/
*.pyc
*.pyo

# 忽略 VSCode 和 PyCharm 的配置文件
.vscode/
.idea/

# 忽略日志文件
logs/
*.log

# 忽略虚拟环境文件夹
venv/
.env/

# 忽略系统文件
.DS_Store
Thumbs.db

# 忽略 config.json 文件
config/api_config/api_config.json

# 忽略 data 文件
data/grid_strategy/futures_strategies.json
data/grid_syrategy/spot_strategies.json

# 忽略 测试 文件
tests/test_api.py

# 忽略 构建 文件
dist/
build/
CryptoTradingSystem.spec
*.7z
*.zip
*.pyc
